<table>
  <tr>
    <th>Username</th>
    <th>Gender</th>
    <th>Reference</th>
    <th>Subscribe</th>
  </tr>
  <tr>
    <td><%= @new_registration.username %></td>
    <td><%= @new_registration.gender %></td>
    <td><%= @new_registration.reference %></td>
    <td><%= @new_registration.subscribe %></td>
  </tr>
</table>